.hero {
  position: relative;
  padding-top: 75px;
  padding-bottom: 60px;
  background-color: #f1f1f1;
  &::after {
    content: '';
    position: absolute;
    right: -55px;
    top: 75px;
    width: 173px;
    height: 192px;
    background-image: url('../img/dottes.svg');
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
  }


  &__container {
    min-width: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;
  }
  &__content {
    grid-column: 5 span;
  }
  &__slider-block {
    position: relative;
    grid-column: 5 span;
    width: 100%;
    padding-left: 84px;
    text-align: center;

  }
  &__slider {
    width: 390px;
    border-radius: 25px;
    margin-bottom: 70px;
  }

  &__title {
    margin: 0;
    margin-bottom: 16px;
    color: #141416;
    font-family: "Poppins";
    font-size: 75px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -3px;
    text-transform: capitalize;
  }
  &__desc {
    margin: 0;
    margin-bottom: 45px;
    color: #676767;
    text-align: justify;
    font-family: "Inter";
    font-size: 18px;
    font-weight: 400;
    line-height: 155.556%;
    span {
      color: #141416;
      font-size: 18px;
      font-weight: 600;
    }
  }
  &__btn {
    line-height: 0;
    &-fill {
      padding: 17px 30px;
      margin-right: 23px;
    }
    &-stroke {
      padding: 17px 20px;
    }
  }
  &__btns {
    margin-bottom: 82px;
  }

}
.hero-benefits {
  display: flex;
  align-items: center;
  &__item {
    &:not(:last-child){
      margin-right: 65px;
    }
  }
  &__figure {
    display: block;
    color: #141416;
    font-family: "Public Sans";
    font-size: 36.771px;
    font-weight: 600;
    line-height: 125%;
  }
  &__desc {
    display: block;
    color: #848586;
    font-family: "Inter";
    font-size: 12.257px;
    font-weight: 500;
    line-height: 150%;
  }
}
#hero-slider {
  position: relative;
  &::before {
    position: absolute;
    content: '';
    width: 128px;
    height: 124px;
    right: 0;
    top: 50px;
    transform: translateX(80%);
    background-image: url('../img/arrow.svg');
    background-position: center, center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
