.wallet-section {
  display: flex;
  align-items: flex-start;
  &__left {
    width: 54%;
    padding: 50px;
    background: #F9F9F9;
  }
  &__right {
    width: 46%;
    padding: 50px;
    background-color: #141416;
    color: #fff;
  }
  &__logo {
    display: inline-block;
    margin-bottom: 70px;
  }
}
.wallet-left {
  position: relative;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 395px;
    margin: 0 auto;
    margin-bottom: 90px;
  }
  &__title {
    margin-bottom: 105px;
  }
  &__list {
    width: 100%;
    margin-bottom: 82px;
  }
  &__item {
    &:not(:last-child){
      margin-bottom: 35px;
    }
  }
  &__btn {
    position: relative;
    text-align: left;
    padding-left: 85px;
    width: 100%;
    height: 85px;
    border-radius: 9.644px;
    background: #FFF;
    box-shadow: 5px 10px 50px 0px rgba(0, 0, 0, 0.10);
    color: #000;
    font-family: "Poppins";
    font-size: 18px;
    font-weight: 600;
    line-height: 153%;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 28px;
      transform: translateY(-50%);
      width: 38px;
      height: 38px;
      background-position: center, center;
      background-size: cover;
      background-repeat: no-repeat;
    }
    &--metamask {
      &::before {
        background-image: url('../img/meta-icon.png');
      }
    }
    &--trust {
      &::before {
        background-image: url('../img/trust-icon.png');
      }
    }
    &--ethereum {
      &::before {
        background-image: url('../img/ethereum-icon.png');
      }
    }
    span {
      position: relative;
      &::after {
        content: '';
        position: absolute;
        right: -30px;
        width: 28px;
        height: 28px;
        background-image: url('../img/right-bracket.svg');
        background-position: center, center;
        background-size: cover;
        background-repeat: no-repeat;
      }
    }

  }
  &__next {
    width: 95%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
  }

  &__copy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #AAA;
    font-family: "Poppins";
    font-weight: 500;
    line-height: 150%;
    letter-spacing: 0.2px;
  }
  &__privacy {
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
  }
}
.wallet-right {
  padding-top: 120px;
  padding-bottom: 120px;
  &__container {
    max-width: 390px;
    margin: 0 auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__title {
    margin: 0;
    margin-bottom: 14px;
    color: #FFF;
    text-align: center;
    font-family: "DM Sans";
    font-size: 47.339px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.947px;
  }
  &__desc {
    margin: 0;
    margin-bottom: 60px;
    color: #6D6D6D;
    text-align: center;
    font-family: "Poppins";
    line-height: 171%;
  }
  &__slider {
    max-width: 100%;
    margin-bottom: 65px;
  }
  .swiper-slide {
    border-radius: 30px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &__control {
    margin: 0 auto;
  }
}
