.weekly {
  position: relative;
  padding-top: 70px;
  padding-bottom: 90px;

  background-color: #f1f1f1;
  &__title {
    margin: 0;
    margin-bottom: 100px;
    text-align: center;
    color: #c5c5c5;
    font-family: "Poppins";
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: 59%;
  }
  &__slider {
    text-align: center;
    .swiper-wrapper {
      margin-bottom: 120px;
    }
    .swiper-slide {
      width: auto;
    }
  }
  &__recent {
    position: absolute;
    bottom: 0;
    right: 100px;
    transform: translateY(50%);
    z-index: 10;
    @include for-desktop {
      right: 40px;
    }
  }
}
