<section class="benefits">
  <div class="container benefits__container">
    <div class="benefits__content">
      <h2 class="benefits__title">
        <span>Just Unleash -</span> Your Inner Collector
      </h2>
      <ul class="benefits__list list-reset">
        <li class="benefits__item">Best Seller All Around World</li>
        <li class="benefits__item">$2M+ Transections Every Day</li>
        <li class="benefits__item">Secure Transactions</li>
        <li class="benefits__item">Exclusive Collections From Sellers</li>
        <li class="benefits__item">Easy Buying and Selling</li>
        <li class="benefits__item">Join Our Community</li>
      </ul>
      <a href="#" class="btn btn-reset btn--fill">Explore More &RightArrow;</a>
    </div>
    <div class="benefits__raiting raiting">
      <h3 class="raiting__title">Best Sellers</h3>
      <ul class="raiting__list list-reset">
        <li class="raiting__item">
          <div class="raiting__img">
            <img src="img/raiting-1.png" alt="Raiting" />
          </div>
          <div class="raiting__info">
            <span class="raiting__name">Alix Ca.</span>
            <span class="raiting__acc">@Alexy</span>
          </div>
          <button class="btn-reset raiting__btn">Follow</button>
        </li>
        <li class="raiting__item">
          <div class="raiting__img">
            <img src="img/raiting-2.png" alt="Raiting" />
          </div>
          <div class="raiting__info">
            <span class="raiting__name">Alix Ca.</span>
            <span class="raiting__acc">@Alexy</span>
          </div>
          <button class="btn-reset raiting__btn">Follow</button>
        </li>
        <li class="raiting__item">
          <div class="raiting__img">
            <img src="img/raiting-3.png" alt="Raiting" />
          </div>
          <div class="raiting__info">
            <span class="raiting__name">Alix Ca.</span>
            <span class="raiting__acc">@Alexy</span>
          </div>
          <button class="btn-reset raiting__btn">Follow</button>
        </li>
        <li class="raiting__item">
          <div class="raiting__img">
            <img src="img/raiting-4.png" alt="Raiting" />
          </div>
          <div class="raiting__info">
            <span class="raiting__name">Alix Ca.</span>
            <span class="raiting__acc">@Alexy</span>
          </div>
          <button class="btn-reset raiting__btn raiting__btn-active">
            Unfollow
          </button>
        </li>
        <li class="raiting__item">
          <div class="raiting__img">
            <img src="img/raiting-1.png" alt="Raiting" />
          </div>
          <div class="raiting__info">
            <span class="raiting__name">Alix Ca.</span>
            <span class="raiting__acc">@Alexy</span>
          </div>
          <button class="btn-reset raiting__btn">Follow</button>
        </li>
        <li class="raiting__item">
          <div class="raiting__img">
            <img src="img/raiting-2.png" alt="Raiting" />
          </div>
          <div class="raiting__info">
            <span class="raiting__name">Alix Ca.</span>
            <span class="raiting__acc">@Alexy</span>
          </div>
          <button class="btn-reset raiting__btn raiting__btn-active">
            Unfollow
          </button>
        </li>
      </ul>
      <div class="raiting__recent recent-viewed">
        <h3 class="recent-viewed__title">Recent Viewed</h3>
        <ul class="recent-viewed__list list-reset">
          <li class="recent-viewed__item recent-viewed__item--second">
            <div class="recent-viewed__img">
              <img src="img/recent-1.png" alt="" />
            </div>
            <div class="recent-viewed__content">
              <div class="recent-viewed__row">
                <span class="recent-viewed__name">Alex Ca.</span>
                <span class="recent-viewed__count card__count">8,456</span>
              </div>
              <div class="recent-viewed__row">
                <span class="recent-viewed__pseudo">Alexy</span>
                <span class="recent-viewed__percent">+23,00%</span>
              </div>
            </div>
          </li>
          <li class="recent-viewed__item recent-viewed__item--second">
            <div class="recent-viewed__img">
              <img src="img/recent-2.png" alt="" />
            </div>
            <div class="recent-viewed__content">
              <div class="recent-viewed__row">
                <span class="recent-viewed__name">Alex Ca.</span>
                <span class="recent-viewed__count card__count">8,456</span>
              </div>
              <div class="recent-viewed__row">
                <span class="recent-viewed__pseudo">Alexy</span>
                <span class="recent-viewed__percent">+23,00%</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="raiting__new-bid new-bid">
        <img
          src="img/raiting-3.png"
          width="39"
          height="39"
          alt=""
          class="new-bid__icon"
        />
        <div class="new-bid__info">
          <p class="new-bid__desc"><span>New bid</span> Rotation</p>
          <p class="new-bid__eth">0.002 ETH</p>
          <time class="new-bid__time" datetime="2022-10-06 11:44 PM"
            >6 Oct 2022, 11:44 PM</time
          >
        </div>
        <img src="img/new-bid-1.png" width="60" height="60" alt="" />
      </div>
    </div>
  </div>
</section>
