<section class="collection">
  <div class="container">
    <h2 class="title collection__title">Top Collection</h2>
    <table class="collection__table collection-table">
      <thead>
        <tr>
          <th>Collection</th>
          <th>Volume</th>
          <th>24h %</th>
          <th>Floor Price</th>
          <th>Owners</th>
          <th>Items</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="collection-table__collection">
              <div class="collection-table__img">
                <img src="img/table-1.png" alt="" />
              </div>
              <div class="collection-table__text">
                <span class="collection-table__name">Alex Ca.</span>
                <span class="collection-table__desc">By Alex</span>
              </div>
            </div>
          </td>
          <td>
            <span class="card__count">8,456</span>
          </td>
          <td>
            <span class="recent-viewed__percent">+27,78%</span>
          </td>
          <td>
            <span class="card__count">3,5</span>
          </td>
          <td>
            <span>2.2K</span>
          </td>
          <td>
            <span>500</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="collection-table__collection">
              <div class="collection-table__img">
                <img src="img/table-2.png" alt="" />
              </div>
              <div class="collection-table__text">
                <span class="collection-table__name">Alex Ca.</span>
                <span class="collection-table__desc">By Alex</span>
              </div>
            </div>
          </td>
          <td>
            <span class="card__count">4,780</span>
          </td>
          <td>
            <span class="recent-viewed__percent">+27,78%</span>
          </td>
          <td>
            <span class="card__count">7,9</span>
          </td>
          <td>
            <span>3.4K</span>
          </td>
          <td>
            <span>900</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="collection-table__collection">
              <div class="collection-table__img">
                <img src="img/table-1.png" alt="" />
              </div>
              <div class="collection-table__text">
                <span class="collection-table__name">Alex Ca.</span>
                <span class="collection-table__desc">By Alex</span>
              </div>
            </div>
          </td>
          <td>
            <span class="card__count">8,456</span>
          </td>
          <td>
            <span class="recent-viewed__percent">+27,78%</span>
          </td>
          <td>
            <span class="card__count">3,5</span>
          </td>
          <td>
            <span>2.2K</span>
          </td>
          <td>
            <span>500</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="collection-table__collection">
              <div class="collection-table__img">
                <img src="img/table-2.png" alt="" />
              </div>
              <div class="collection-table__text">
                <span class="collection-table__name">Alex Ca.</span>
                <span class="collection-table__desc">By Alex</span>
              </div>
            </div>
          </td>
          <td>
            <span class="card__count">4,780</span>
          </td>
          <td>
            <span class="recent-viewed__percent">+27,78%</span>
          </td>
          <td>
            <span class="card__count">7,9</span>
          </td>
          <td>
            <span>3.4K</span>
          </td>
          <td>
            <span>900</span>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="collection__bottom">
      <a href="/stats.html" class="collection__link">Explore All</a>
    </div>
  </div>
</section>
