<section class="creator-details">
  <div class="container">
    <div class="creator-details__top">
      <div class="creator-details__avatar">
        <img src="img/creator-details-1.jpg" alt="cover" />
      </div>
    </div>
    <div class="creator-details__bottom">
      <div class="creator-details__left">
        <div class="creator-details__row">
          <div class="creator-details__info">
            <span class="creator-details__name">Harry K.</span>
            <span class="creator-details__ps">@Harryknft</span>
          </div>
          <button class="btn-reset btn btn--fill creator-details__btn">
            Follow+
          </button>
        </div>
        <ul class="creator-details__list list-reset">
          <li class="creator-details__item">
            <span class="creator-details__item--1">86 ETH</span>
            <span class="creator-details__item--2">Total Sales</span>
          </li>
          <li class="creator-details__item">
            <span class="creator-details__item--1">12K</span>
            <span class="creator-details__item--2">Followers</span>
          </li>
          <li class="creator-details__item">
            <span class="creator-details__item--1">587</span>
            <span class="creator-details__item--2">Following</span>
          </li>
        </ul>
        <div class="creator-details__bio">
          <p class="creator-details__bio--title">Bio</p>
          <p>
            the artist who transforms the intangible into priceless assets with
            their incredible NFT creations. From stunning visuals to
            mind-bending concepts,
          </p>
        </div>
        <ul class="creator-details__socials list-reset socials">
          <li class="socials__item">
            <a href="#" class="socials__link">
              <img src="img/creator-socials.svg" alt="" />
            </a>
          </li>
        </ul>
      </div>
      <div class="creator-details__right">
        <div class="creator-details__tabs">
          <button
            class="tabs__btn btn-reset tabs__btn--collection tabs__btn--active"
            data-path="collection"
          >
            <svg>
              <use xlink:href="img/sprite.svg#ticket"></use>
            </svg>
            Collection
          </button>
          <button
            class="tabs__btn btn-reset tabs__btn--activity "
            data-path="activity"
          >
            <svg>
              <use xlink:href="img/sprite.svg#discovery"></use>
            </svg>
            Activity
          </button>
        </div>
        <div
          class="tabs__content tabs__content--collection tabs__content--active"
          data-target="collection"
        >
          <div class="creator-details__cards">
            <div class="creator-details__card card--mini">
              <img src="img/weekly-1.png" class="card__img" alt="Sun-Glass" />
              <a href="#" class="card__title">Sun-Glass</a>
              <div class="card__content">
                <span class="card__text">
                  <span class="card__desc">Current bid</span>
                  <span class="card__count">1.75</span>
                </span>
                <a href="#" class="btn btn--fill btn-reset weekly-btn"
                  >Place bid</a
                >
              </div>
            </div>
            <div class="creator-details__card card--mini">
              <img src="img/weekly-2.png" class="card__img" alt="Sun-Glass" />
              <a href="#" class="card__title">Sun-Glass</a>
              <div class="card__content">
                <span class="card__text">
                  <span class="card__desc">Current bid</span>
                  <span class="card__count">1.75</span>
                </span>
                <a href="#" class="btn btn--fill btn-reset weekly-btn"
                  >Place bid</a
                >
              </div>
            </div>
            <div class="creator-details__card card--mini">
              <img src="img/weekly-3.png" class="card__img" alt="Sun-Glass" />
              <a href="#" class="card__title">Sun-Glass</a>
              <div class="card__content">
                <span class="card__text">
                  <span class="card__desc">Current bid</span>
                  <span class="card__count">1.75</span>
                </span>
                <a href="#" class="btn btn--fill btn-reset weekly-btn"
                  >Place bid</a
                >
              </div>
            </div>
            <div class="creator-details__card card--mini">
              <img src="img/weekly-4.png" class="card__img" alt="Sun-Glass" />
              <a href="#" class="card__title">Sun-Glass</a>
              <div class="card__content">
                <span class="card__text">
                  <span class="card__desc">Current bid</span>
                  <span class="card__count">1.75</span>
                </span>
                <a href="#" class="btn btn--fill btn-reset weekly-btn"
                  >Place bid</a
                >
              </div>
            </div>
            <div class="creator-details__card card--mini">
              <img src="img/weekly-3.png" class="card__img" alt="Sun-Glass" />
              <a href="#" class="card__title">Sun-Glass</a>
              <div class="card__content">
                <span class="card__text">
                  <span class="card__desc">Current bid</span>
                  <span class="card__count">1.75</span>
                </span>
                <a href="#" class="btn btn--fill btn-reset weekly-btn"
                  >Place bid</a
                >
              </div>
            </div>
            <div class="creator-details__card card--mini">
              <img src="img/weekly-2.png" class="card__img" alt="Sun-Glass" />
              <a href="#" class="card__title">Sun-Glass</a>
              <div class="card__content">
                <span class="card__text">
                  <span class="card__desc">Current bid</span>
                  <span class="card__count">1.75</span>
                </span>
                <a href="#" class="btn btn--fill btn-reset weekly-btn"
                  >Place bid</a
                >
              </div>
            </div>
            <div class="creator-details__card card--mini">
              <img src="img/weekly-1.png" class="card__img" alt="Sun-Glass" />
              <a href="#" class="card__title">Sun-Glass</a>
              <div class="card__content">
                <span class="card__text">
                  <span class="card__desc">Current bid</span>
                  <span class="card__count">1.75</span>
                </span>
                <a href="#" class="btn btn--fill btn-reset weekly-btn"
                  >Place bid</a
                >
              </div>
            </div>
            <div class="creator-details__card card--mini">
              <img src="img/weekly-2.png" class="card__img" alt="Sun-Glass" />
              <a href="#" class="card__title">Sun-Glass</a>
              <div class="card__content">
                <span class="card__text">
                  <span class="card__desc">Current bid</span>
                  <span class="card__count">1.75</span>
                </span>
                <a href="#" class="btn btn--fill btn-reset weekly-btn"
                  >Place bid</a
                >
              </div>
            </div>
            <div class="creator-details__card card--mini">
              <img src="img/weekly-3.png" class="card__img" alt="Sun-Glass" />
              <a href="#" class="card__title">Sun-Glass</a>
              <div class="card__content">
                <span class="card__text">
                  <span class="card__desc">Current bid</span>
                  <span class="card__count">1.75</span>
                </span>
                <a href="#" class="btn btn--fill btn-reset weekly-btn"
                  >Place bid</a
                >
              </div>
            </div>
            <div class="creator-details__card card--mini">
              <img src="img/weekly-4.png" class="card__img" alt="Sun-Glass" />
              <a href="#" class="card__title">Sun-Glass</a>
              <div class="card__content">
                <span class="card__text">
                  <span class="card__desc">Current bid</span>
                  <span class="card__count">1.75</span>
                </span>
                <a href="#" class="btn btn--fill btn-reset weekly-btn"
                  >Place bid</a
                >
              </div>
            </div>
            <div class="creator-details__card card--mini">
              <img src="img/weekly-3.png" class="card__img" alt="Sun-Glass" />
              <a href="#" class="card__title">Sun-Glass</a>
              <div class="card__content">
                <span class="card__text">
                  <span class="card__desc">Current bid</span>
                  <span class="card__count">1.75</span>
                </span>
                <a href="#" class="btn btn--fill btn-reset weekly-btn"
                  >Place bid</a
                >
              </div>
            </div>
            <div class="creator-details__card card--mini">
              <img src="img/weekly-2.png" class="card__img" alt="Sun-Glass" />
              <a href="#" class="card__title">Sun-Glass</a>
              <div class="card__content">
                <span class="card__text">
                  <span class="card__desc">Current bid</span>
                  <span class="card__count">1.75</span>
                </span>
                <a href="#" class="btn btn--fill btn-reset weekly-btn"
                  >Place bid</a
                >
              </div>
            </div>
          </div>
        </div>
        <div
          class="tabs__content tabs__content--activity activity"
          data-target="activity"
        >
          <div class="activity__btns">
            <button class="btn-reset activity__btn activity__btn--sales">Sales</button>
            <button class="btn-reset activity__btn activity__btn--chains">All Chains</button>
          </div>
          <ul class="activity__list list-reset">
            <li class="activity__item activity-item">
              <div class="activity-item__top">
                <img src="img/activity-1.jpg" alt="cover" />
                <div class="activity-item__info">
                  <div class="activity-item__block">
                    <span class="activity-item__name">NeuVey</span>
                    <span class="activity-item__desc">JenifferS</span>
                  </div>
                  <div class="activity-item__block">
                    <span class="activity-item__sale">Sale</span>
                    <span class="activity-item__bid">16,4</span>
                    <span class="activity-item__time">6 Minutes ago</span>
                  </div>
                </div>
              </div>
              <ul class="activity-item__bottom list-reset">
                <li class="activity-item__ben">
                  <span class="activity-item__ben-title">USD Price</span>
                  <span class="activity-item__ben-desc">$19K</span>
                </li>
                <li class="activity-item__ben">
                  <span class="activity-item__ben-title">Quantity</span>
                  <span class="activity-item__ben-desc">14.9K</span>
                </li>
                <li class="activity-item__ben">
                  <span class="activity-item__ben-title">floor price</span>
                  <span class="activity-item__ben-bid activity-item__ben-desc">16,4</span>
                </li>
                <li class="activity-item__ben">
                  <span class="activity-item__ben-title">traded</span>
                  <span class="activity-item__ben-bid activity-item__ben-desc">26,4</span>
                </li>
              </ul>
            </li>
            <li class="activity__item activity-item">
              <div class="activity-item__top">
                <img src="img/activity-1.jpg" alt="cover" />
                <div class="activity-item__info">
                  <div class="activity-item__block">
                    <span class="activity-item__name">NeuVey</span>
                    <span class="activity-item__desc">JenifferS</span>
                  </div>
                  <div class="activity-item__block">
                    <span class="activity-item__sale">Sale</span>
                    <span class="activity-item__bid">16,4</span>
                    <span class="activity-item__time">6 Minutes ago</span>
                  </div>
                </div>
              </div>
              <ul class="activity-item__bottom list-reset">
                <li class="activity-item__ben">
                  <span class="activity-item__ben-title">USD Price</span>
                  <span class="activity-item__ben-desc">$19K</span>
                </li>
                <li class="activity-item__ben">
                  <span class="activity-item__ben-title">Quantity</span>
                  <span class="activity-item__ben-desc">14.9K</span>
                </li>
                <li class="activity-item__ben">
                  <span class="activity-item__ben-title">floor price</span>
                  <span class="activity-item__ben-bid activity-item__ben-desc">16,4</span>
                </li>
                <li class="activity-item__ben">
                  <span class="activity-item__ben-title">traded</span>
                  <span class="activity-item__ben-bid activity-item__ben-desc">26,4</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
