<section class="creators-section">
  <div class="container">
    <h2 class="title creators-section__title">Meet Our Great Creators</h2>
    <div class="creators-section__cards">
      <div class="creators-section__card creator-card">
        <div class="creator-card__top">
          <div class="creator-card__avatar">
            <img src="img/creator-card-1.png" alt="cover">
          </div>
        </div>
        <div class="creator-card__content">
          <a href="./creator-details.html" class="creator-card__name">Alex Ca.</a>
          <ul class="creator-card__list list-reset">
            <li class="creator-card__item">
              <span class="creator-card__capture">5.8K</span>
              <span class="creator-card__desc">Items</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture">17.9K</span>
              <span class="creator-card__desc">Items</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture creator-card__capture--bid">17.5</span>
              <span class="creator-card__desc">floor price</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture creator-card__capture--bid">22.4</span>
              <span class="creator-card__desc">traded</span>
            </li>
          </ul>
          <ul class="creator-card__gallery creator-gallery list-reset">
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link ">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link creator-gallery__link--more">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="creators-section__card creator-card">
        <div class="creator-card__top creator-card__top--zeno">
          <div class="creator-card__avatar">
            <img src="img/creator-card-2.png" alt="cover">
          </div>
        </div>
        <div class="creator-card__content">
          <a href="./creator-details.html" class="creator-card__name">Zeno Ka.</a>
          <ul class="creator-card__list list-reset">
            <li class="creator-card__item">
              <span class="creator-card__capture">9.9K</span>
              <span class="creator-card__desc">Items</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture">14.9K</span>
              <span class="creator-card__desc">Items</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture creator-card__capture--bid">16.4</span>
              <span class="creator-card__desc">floor price</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture creator-card__capture--bid">26.4</span>
              <span class="creator-card__desc">traded</span>
            </li>
          </ul>
          <ul class="creator-card__gallery creator-gallery list-reset">
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link ">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link creator-gallery__link--more">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="creators-section__card creator-card">
        <div class="creator-card__top creator-card__top--leon">
          <div class="creator-card__avatar">
            <img src="img/creator-card-3.png" alt="cover">
          </div>
        </div>
        <div class="creator-card__content">
          <a href="./creator-details.html" class="creator-card__name">Leon Zn.</a>
          <ul class="creator-card__list list-reset">
            <li class="creator-card__item">
              <span class="creator-card__capture">7.8K</span>
              <span class="creator-card__desc">Items</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture">19.5K</span>
              <span class="creator-card__desc">Items</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture creator-card__capture--bid">19.7</span>
              <span class="creator-card__desc">floor price</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture creator-card__capture--bid">54.5</span>
              <span class="creator-card__desc">traded</span>
            </li>
          </ul>
          <ul class="creator-card__gallery creator-gallery list-reset">
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link ">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link creator-gallery__link--more">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="creators-section__card creator-card">
        <div class="creator-card__top creator-card__top--zeno">
          <div class="creator-card__avatar">
            <img src="img/creator-card-2.png" alt="cover">
          </div>
        </div>
        <div class="creator-card__content">
          <a href="./creator-details.html" class="creator-card__name">Zeno Ka.</a>
          <ul class="creator-card__list list-reset">
            <li class="creator-card__item">
              <span class="creator-card__capture">9.9K</span>
              <span class="creator-card__desc">Items</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture">14.9K</span>
              <span class="creator-card__desc">Items</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture creator-card__capture--bid">16.4</span>
              <span class="creator-card__desc">floor price</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture creator-card__capture--bid">26.4</span>
              <span class="creator-card__desc">traded</span>
            </li>
          </ul>
          <ul class="creator-card__gallery creator-gallery list-reset">
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link ">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link creator-gallery__link--more">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="creators-section__card creator-card">
        <div class="creator-card__top creator-card__top--leon">
          <div class="creator-card__avatar">
            <img src="img/creator-card-3.png" alt="cover">
          </div>
        </div>
        <div class="creator-card__content">
          <a href="./creator-details.html" class="creator-card__name">Leon Zn.</a>
          <ul class="creator-card__list list-reset">
            <li class="creator-card__item">
              <span class="creator-card__capture">7.8K</span>
              <span class="creator-card__desc">Items</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture">19.5K</span>
              <span class="creator-card__desc">Items</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture creator-card__capture--bid">19.7</span>
              <span class="creator-card__desc">floor price</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture creator-card__capture--bid">54.5</span>
              <span class="creator-card__desc">traded</span>
            </li>
          </ul>
          <ul class="creator-card__gallery creator-gallery list-reset">
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link ">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link creator-gallery__link--more">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="creators-section__card creator-card">
        <div class="creator-card__top">
          <div class="creator-card__avatar">
            <img src="img/creator-card-1.png" alt="cover">
          </div>
        </div>
        <div class="creator-card__content">
          <a href="./creator-details.html" class="creator-card__name">Alex Ca.</a>
          <ul class="creator-card__list list-reset">
            <li class="creator-card__item">
              <span class="creator-card__capture">5.8K</span>
              <span class="creator-card__desc">Items</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture">17.9K</span>
              <span class="creator-card__desc">Items</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture creator-card__capture--bid">17.5</span>
              <span class="creator-card__desc">floor price</span>
            </li>
            <li class="creator-card__item">
              <span class="creator-card__capture creator-card__capture--bid">22.4</span>
              <span class="creator-card__desc">traded</span>
            </li>
          </ul>
          <ul class="creator-card__gallery creator-gallery list-reset">
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link ">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
            <li class="creator-gallery__item">
              <a href="#" class="creator-gallery__link creator-gallery__link--more">
                <img src="img/gallery-1.jpg" alt="" class="creator-gallery__img">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
