<section class="detail-section">
  <div class="container">
    <div class="detail-section__heading">
      <a href="./discover.html" class="detail-section__btn prev-btn"
        >&LeftAngleBracket;</a
      >
      <h3 class="detail-section__title">Product Detail</h3>
      <button class="history__btn btn-reset">?</button>
    </div>
    <div class="detail-block">
      <div class="detail-block__image">
        <img src="img/detail-1.jpg" alt="Cover" />
      </div>
      <div class="detail-block__content">
        <h2 class="detail-block__title">Project Sun-Glass</h2>
        <p class="detail-block__desc">
          A collection of 10,000 utility-enabled PFPs that feature a richly
          diverse and unique pool of rarity-powered traits.
        </p>
        <div class="detail-block__creators">
          <div class="creator">
            <div class="creator__img">
              <img src="img/creator-1.png" alt="Creator cover" />
            </div>
            <div class="creator__info">
              <span class="creator__title">Created by</span>
              <span class="creator__name">Perperzon</span>
            </div>
          </div>
          <div class="creator">
            <div class="creator__img">
              <img src="img/creator-2.png" alt="Creator cover" />
            </div>
            <div class="creator__info">
              <span class="creator__title">Owned bt</span>
              <span class="creator__name">Videz</span>
            </div>
          </div>
        </div>
        <div class="detail-block__info">
          <div class="info-block">
            <span class="info-block__bid">1.75</span>
          </div>
          <div class="info-block">
            <span class="info-block__name info-block__name--end">End in</span>
            <time class="info-block__time" datetime="2023-06-17 05:08"
              >Jun 17, 2023 at 05:08</time
            >
          </div>
        </div>
        <a href="#" class="btn btn--fill detail-block__btn">
          <svg>
            <use xlink:href="img/sprite.svg#wallet"></use>
          </svg>
          Place Bid
        </a>
      </div>
    </div>

    <h3 class="detail-section__subtitle">From Creator</h3>
    <div class="detail-section__cards">
      <div class="detail-section__card card card--mini">
        <img src="img/weekly-1.png" class="card__img" alt="Sun-Glass" />
        <span class="card__creator-name">Perperzon</span>
        <a href="./detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__count">16,4</span>
          </span>
          <span class="card__likes">
            <button class="btn-reset">
              <svg>
                <use xlink:href="img/sprite.svg#heart"></use>
              </svg>
            </button>
            200
          </span>
        </div>
      </div>
      <div class="detail-section__card card card--mini">
        <img src="img/weekly-5.png" class="card__img" alt="Sun-Glass" />
        <span class="card__creator-name">Perperzon</span>
        <a href="./detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__count">16,4</span>
          </span>
          <span class="card__likes">
            <button class="btn-reset">
              <svg>
                <use xlink:href="img/sprite.svg#heart"></use>
              </svg>
            </button>
            200
          </span>
        </div>
      </div>
      <div class="detail-section__card card card--mini">
        <img src="img/weekly-2.png" class="card__img" alt="Sun-Glass" />
        <span class="card__creator-name">Perperzon</span>
        <a href="./detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__count">16,4</span>
          </span>
          <span class="card__likes">
            <button class="btn-reset">
              <svg>
                <use xlink:href="img/sprite.svg#heart"></use>
              </svg>
            </button>
            200
          </span>
        </div>
      </div>
      <div class="detail-section__card card card--mini">
        <img src="img/weekly-3.png" class="card__img" alt="Sun-Glass" />
        <span class="card__creator-name">Perperzon</span>
        <a href="./detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__count">16,4</span>
          </span>
          <span class="card__likes">
            <button class="btn-reset">
              <svg>
                <use xlink:href="img/sprite.svg#heart"></use>
              </svg>
            </button>
            200
          </span>
        </div>
      </div>
      <div class="detail-section__card card card--mini">
        <img src="img/weekly-4.png" class="card__img" alt="Sun-Glass" />
        <span class="card__creator-name">Perperzon</span>
        <a href="./detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__count">16,4</span>
          </span>
          <span class="card__likes">
            <button class="btn-reset">
              <svg>
                <use xlink:href="img/sprite.svg#heart"></use>
              </svg>
            </button>
            200
          </span>
        </div>
      </div>
    </div>
  </div>

  <div class="detail-section__modal detail-modal">
    <div class="detail-modal__window">
      <h3 class="detail-modal__title">History of bid</h3>
      <time class="detail-modal__time" datetime="2022-10-14">Oct 14, 2022</time>
      <ul class="detail-modal__list list-reset">
        <li class="detail-modal__item">
          <div class="detail-modal__img">
            <img src="img/raiting-1.png" alt="cover">
          </div>
          <div class="detail-modal__info">
            <span class="detail-modal__name">Repo</span>
            <time class="detail-modal__time" datetime="2022-05-17 12:08">May 17, 2022 at 12:08</time>
          </div>
          <span class="card__count detail-modal__bid">1.75</span>
        </li>
        <li class="detail-modal__item">
          <div class="detail-modal__img">
            <img src="img/raiting-2.png" alt="cover">
          </div>
          <div class="detail-modal__info">
            <span class="detail-modal__name">Travo</span>
            <time class="detail-modal__time" datetime="2022-05-16 12:08">May 16, 2022 at 12:08</time>
          </div>
          <span class="card__count detail-modal__bid">1.57</span>
        </li>
        <li class="detail-modal__item">
          <div class="detail-modal__img">
            <img src="img/raiting-3.png" alt="cover">
          </div>
          <div class="detail-modal__info">
            <span class="detail-modal__name">Jennifer</span>
            <time class="detail-modal__time" datetime="2022-05-16 06:08">May 16, 2022 at 6:08</time>
          </div>
          <span class="card__count detail-modal__bid">1.44</span>
        </li>
      </ul>
      <form action="#" class="detail-modal__form modal-form">
        <h3 class="modal-form__title">Your bid</h3>
        <div class="modal-form__data">
          <select name="Select-bid" id="sBid" class="modal-form__select input-reset">
            <option value="eth">ETH</option>
          </select>
          <input type="number" class="modal-form__input input-reset">
        </div>
        <a href="#" class="btn btn--fill modal-form__btn">
          <svg>
            <use xlink:href="img/sprite.svg#wallet"></use>
          </svg>
          Submit
        </a>
      </form>
    </div>
  </div>
</section>
