<section class="discover">
  <div class="container">
    <h2 class="discover__title title">Discover NFTs</h2>
    <div class="marketplace__btns">
      <button
        class="marketplace__btn btn--stroke btn btn--sort btn--category btn-reset"
      >
        Category
      </button>
      <button
        class="marketplace__btn btn--stroke btn btn--sort btn--collection btn-reset"
      >
        Collection
      </button>
      <button
        class="marketplace__btn btn--stroke btn btn--sort btn--price btn-reset"
      >
        Price
      </button>
    </div>
    <div class="discover__items">
      <div class="discover__item card">
        <img src="img/weekly-1.png" class="card__img" alt="Sun-Glass" />
        <a href="DiveSea/detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="discover__item card">
        <img src="img/weekly-2.png" class="card__img" alt="Sun-Glass" />
        <a href="DiveSea/detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="discover__item card">
        <img src="img/weekly-3.png" class="card__img" alt="Sun-Glass" />
        <a href="DiveSea/detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="discover__item card">
        <img src="img/weekly-4.png" class="card__img" alt="Sun-Glass" />
        <a href="DiveSea/detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="discover__item card">
        <img src="img/weekly-4.png" class="card__img" alt="Sun-Glass" />
        <a href="DiveSea/detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="discover__item card">
        <img src="img/weekly-3.png" class="card__img" alt="Sun-Glass" />
        <a href="DiveSea/detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="discover__item card">
        <img src="img/weekly-2.png" class="card__img" alt="Sun-Glass" />
        <a href="DiveSea/detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="discover__item card">
        <img src="img/weekly-1.png" class="card__img" alt="Sun-Glass" />
        <a href="DiveSea/detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="discover__item card">
        <img src="img/weekly-1.png" class="card__img" alt="Sun-Glass" />
        <a href="DiveSea/detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="discover__item card">
        <img src="img/weekly-2.png" class="card__img" alt="Sun-Glass" />
        <a href="DiveSea/detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="discover__item card">
        <img src="img/weekly-3.png" class="card__img" alt="Sun-Glass" />
        <a href="DiveSea/detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="discover__item card">
        <img src="img/weekly-4.png" class="card__img" alt="Sun-Glass" />
        <a href="DiveSea/detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="discover__item card">
        <img src="img/weekly-4.png" class="card__img" alt="Sun-Glass" />
        <a href="DiveSea/detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="discover__item card">
        <img src="img/weekly-3.png" class="card__img" alt="Sun-Glass" />
        <a href="DiveSea/detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="discover__item card">
        <img src="img/weekly-2.png" class="card__img" alt="Sun-Glass" />
        <a href="DiveSea/detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="discover__item card">
        <img src="img/weekly-1.png" class="card__img" alt="Sun-Glass" />
        <a href="DiveSea/detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
    </div>
    <!-- <div class="loading__block">
      <img src="img/loading.png" class="loading__icon">
    </div> -->
  </div>
</section>
