<section class="faq">
  <div class="container">
    <h2 class="faq__title">
      Frequently Asked Questions
    </h2>
    <ul class="faq__list list-reset">
      <li class="faq__item faq-item">
        <button class="faq-item__btn btn-reset" aria-expanded="false">
          <span class="faq-item__title">What is an NFT?</span>
          <span class="faq-item__icon"></span>
        </button>
        <p class="faq-item__text" aria-hidden="true">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic deserunt amet assumenda, perferendis consequatur eaque delectus eos sequi? Porro deserunt accusantium sapiente odit architecto a omnis doloribus ducimus rem? Autem.</p>
      </li>
      <li class="faq__item faq-item">
        <button class="faq-item__btn btn-reset" aria-expanded="false">
          <span class="faq-item__title">What can I use NFTs for?</span>
          <span class="faq-item__icon"></span>
        </button>
        <p class="faq-item__text" aria-hidden="true">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic deserunt amet assumenda, perferendis consequatur eaque delectus eos sequi? Porro deserunt accusantium sapiente odit architecto a omnis doloribus ducimus rem? Autem.</p>
      </li>
      <li class="faq__item faq-item">
        <button class="faq-item__btn btn-reset" aria-expanded="false">
          <span class="faq-item__title">What is the difference between an NFT and cryptocurrency?</span>
          <span class="faq-item__icon"></span>
        </button>
        <p class="faq-item__text" aria-hidden="true">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic deserunt amet assumenda, perferendis consequatur eaque delectus eos sequi? Porro deserunt accusantium sapiente odit architecto a omnis doloribus ducimus rem? Autem.</p>
      </li>
      <li class="faq__item faq-item">
        <button class="faq-item__btn btn-reset" aria-expanded="false">
          <span class="faq-item__title">How much is an NFT worth?</span>
          <span class="faq-item__icon"></span>
        </button>
        <p class="faq-item__text" aria-hidden="true">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic deserunt amet assumenda, perferendis consequatur eaque delectus eos sequi? Porro deserunt accusantium sapiente odit architecto a omnis doloribus ducimus rem? Autem.</p>
      </li>
      <li class="faq__item faq-item">
        <button class="faq-item__btn btn-reset" aria-expanded="false">
          <span class="faq-item__title">How do I purchase an NFT on your platform?</span>
          <span class="faq-item__icon"></span>
        </button>
        <p class="faq-item__text" aria-hidden="true">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic deserunt amet assumenda, perferendis consequatur eaque delectus eos sequi? Porro deserunt accusantium sapiente odit architecto a omnis doloribus ducimus rem? Autem.</p>
      </li>
    </ul>
  </div>
</section>
