<header class="header">
  <div class="container header__container">
    <div class="header__left">
      <a href="/home.html" class="logo logo--black header__logo">
        <img src="img/logo.svg" alt="Logo icon">
      </a>
      <nav class="header__nav nav">
        <ul class="nav__list list-reset">
          <li class="nav__item"><a href="/discover.html" class="nav__link">Discover</a></li>
          <li class="nav__item"><a href="/creators.html" class="nav__link">Creators</a></li>
          <li class="nav__item"><a href="/sell.html" class="nav__link">Sell</a></li>
          <li class="nav__item"><a href="/stats.html" class="nav__link">Stats</a></li>
        </ul>
      </nav>
    </div>
    <div class="header__right">
      <form class="header__form header-form">
        <label class="header-form__label">
          <input type="text" class="header-form__input input-reset" placeholder="Search Art Work / Creator">
        </label>
        <button href="#" class="btn-reset form__btn--search header-form__btn">
          <img src="img/search-icon.svg" alt="Search icon">
        </button>
      </form>
      <a href="/wallet.html" class="btn btn-reset header__btn btn--fill">Connect wallet</a>
    </div>
  </div>
</header>
