<section class="hero">
  <div class="container-left hero__container">
    <div class="hero__content">
      <h1 class="hero__title">
        Discover And Create NFTs
      </h1>
      <p class="hero__desc">Discover, Create and Sell NFTs On&nbsp;Our NFT Marketplace With Over Thousands Of&nbsp;NFTs And Get a&nbsp;<span>$20&nbsp;bonus.</span></p>
      <div class="hero__btns">
        <a href="/stats.html" class="btn btn-reset btn--fill hero__btn-fill">Explore more</a>
        <a href="/sell.html" class="btn btn--stroke hero__btn-stroke">Create nft</a>
      </div>
      <div class="hero__benefits hero-benefits">
        <div class="hero-benefits__item">
          <span class="hero-benefits__figure">430K+</span>
          <span class="hero-benefits__desc">Art Works</span>
        </div>
        <div class="hero-benefits__item">
          <span class="hero-benefits__figure">159K+</span>
          <span class="hero-benefits__desc">Creators</span>
        </div>
        <div class="hero-benefits__item">
          <span class="hero-benefits__figure">87K+</span>
          <span class="hero-benefits__desc">Collections</span>
        </div>
      </div>
    </div>
    <div class="hero__slider-block" id="hero-slider">
      <div class="hero__slider swiper swiper-no-swiping">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/slide-1.png" alt="Slide">
          </div>
          <div class="swiper-slide">
            <img src="img/slide-2.png" alt="Slide">
          </div>
          <div class="swiper-slide">
            <img src="img/slide-3.png" alt="Slide">
          </div>
        </div>
      </div>
      <div class="slider__controls">
        <button class="slider__controls-btn hero__controls-btn--prev btn-reset">&LeftArrow;</button>
        <button class="slider__controls-btn hero__controls-btn--next btn-reset">&RightArrow;</button>
      </div>
      <div class="preview-block">
      </div>
    </div>
  </div>
</section>
