<section class="marketplace">
  <div class="container">
    <h2 class="title marketplace__title">Explore Marketplace</h2>
    <div class="marketplace__btns">
      <button class="marketplace__btn btn--stroke btn btn--sort btn-reset">
        All
      </button>
      <button
        class="marketplace__btn btn--stroke btn btn--sort btn--category btn-reset"
      >
        Category
      </button>
      <button
        class="marketplace__btn btn--stroke btn btn--sort btn--collection btn-reset"
      >
        Collection
      </button>
      <button
        class="marketplace__btn btn--stroke btn btn--sort btn--price btn-reset"
      >
        Price
      </button>
    </div>

    <div class="marketplace__items">
      <div class="weekly__item card">
        <img src="img/weekly-1.png" class="card__img" alt="Sun-Glass" />
        <a href="detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="weekly__item card">
        <img src="img/weekly-2.png" class="card__img" alt="Sun-Glass" />
        <a href="detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="weekly__item card">
        <img src="img/weekly-3.png" class="card__img" alt="Sun-Glass" />
        <a class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="weekly__item card">
        <img src="img/weekly-4.png" class="card__img" alt="Sun-Glass" />
        <a href="detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="weekly__item card">
        <img src="img/weekly-4.png" class="card__img" alt="Sun-Glass" />
        <a href="detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="weekly__item card">
        <img src="img/weekly-3.png" class="card__img" alt="Sun-Glass" />
        <a href="detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="weekly__item card">
        <img src="img/weekly-2.png" class="card__img" alt="Sun-Glass" />
        <a href="detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
      <div class="weekly__item card">
        <img src="img/weekly-1.png" class="card__img" alt="Sun-Glass" />
        <a href="detail.html" class="card__title">Sun-Glass</a>
        <div class="card__content">
          <span class="card__text">
            <span class="card__desc">Current bid</span>
            <span class="card__count">1.75</span>
          </span>
          <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
        </div>
      </div>
    </div>

    <div class="collection__bottom">
      <a href="/discover.html" class="collection__link">Explore All</a>
    </div>
  </div>
</section>
