<section class="sell-section">
  <div class="container">
    <h2 class="title sell-section__title">Create Your NFT</h2>
    <div class="sell-section__container">
      <form action="#" class="sell-section__form form">
        <div class="form__fields">
          <label class="form-field">
            <span class="form-field__title">Name</span>
            <input type="text" class="form-field__input" placeholder="ArtWork Name">
          </label>
          <label class="form-field">
            <span class="form-field__title">Description</span>
            <textarea type="text" class="form-field__area" placeholder="Enter Your Description"></textarea>
          </label>
          <div class="form__row">
            <label class="form-field form-field--small">
              <span class="form-field__title">Royality</span>
              <select name="select" class="form-field__select input-reset form-field__input" aria-placeholder="Royality">
                <option value="10%">10%</option>
                <option value="20%">20%</option>
                <option value="30%">30%</option>
                <option value="40%">40%</option>
                <option value="50%">50%</option>
                <option value="60%">60%</option>
                <option value="70%">70%</option>
                <option value="80%">80%</option>
                <option value="90%">90%</option>
                <option value="100%">100%</option>
              </select>
            </label>
            <label class="form-field form-field--small form-field--size">
              <span class="form-field__title">Size</span>
              <input type="text" class="form-field__input" placeholder="Ex: 100x100">
            </label>
          </div>
          <label class="form-field">
            <span class="form-field__title">Tags</span>
            <input type="text" class="form-field__input" placeholder="Beautiful Castle, Monkeys ETC">
          </label>
          <label class="form-field form-field--text">
            <div class="form-field__content">
              <span class="form-field__title">Put On Sale</span>
              <p class="form-field__desc">People Will Bids On Your NFT Project</p>
            </div>
            <input type="checkbox" class="input-reset form-field__checkbox">
          </label>
          <label class="form-field form-field--text">
            <div class="form-field__content">
              <span class="form-field__title">Direct Sale</span>
              <p class="form-field__desc">No Bids - Only Direct Salling</p>
            </div>
            <input type="checkbox" class="input-reset form-field__checkbox">
          </label>
        </div>
        <button class="form__btn btn-reset btn btn--fill">Create</button>
      </form>
      <div class="input-file">
        <input id="input-file" type="file" class="input-file__input" multiple>
        <label for="input-file" class="input-file__label">
          <span class="input-file__icon"><img src="img/file-icon.svg" alt="Выберите файл"></span>
          <span class="input-file__text">PNG, GIF, WEBP, MP4 or MP3. Max 1Gb.</span>
        </label>
        <button class="btn-reset btn btn--fill input-file__btn">Upload</button>
      </div>
    </div>
  </div>
</section>
