<section class="stats-section">
  <div class="container">
    <h2 class="stats-section__title title">Leaderboard NFTs</h2>
    <div class="stats-section__btns">
      <button
        class="marketplace__btn btn--stroke btn btn--sort btn--category btn-reset"
      >
        Category
      </button>
      <button
        class="marketplace__btn btn--stroke btn btn--sort btn--collection btn-reset"
      >
        Collection
      </button>
      <button
        class="marketplace__btn btn--stroke btn btn--sort btn--price btn-reset"
      >
        Price
      </button>
    </div>
    <table class="collection__table collection-table stats-table">
      <thead class="stats-table__head">
        <tr>
          <th class="stats-table__header">Collection</th>
          <th class="stats-table__header">Volume</th>
          <th class="stats-table__header">24h %</th>
          <th class="stats-table__header">Floor Price</th>
          <th class="stats-table__header">Owners</th>
          <th class="stats-table__header">Items</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="collection-table__collection">
              <div class="collection-table__img">
                <img src="img/table-1.png" alt="" />
              </div>
              <div class="collection-table__text">
                <span class="collection-table__name">Alex Ca.</span>
                <span class="collection-table__desc">By Alex</span>
              </div>
            </div>
          </td>
          <td>
            <span class="card__count">8,456</span>
          </td>
          <td>
            <span class="recent-viewed__percent">+ 27,78%</span>
          </td>
          <td>
            <span class="card__count">3,5</span>
          </td>
          <td>
            <span>2.2K</span>
          </td>
          <td>
            <span>500</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="collection-table__collection">
              <div class="collection-table__img">
                <img src="img/table-3.png" alt="" />
              </div>
              <div class="collection-table__text">
                <span class="collection-table__name">Dura Gx.</span>
                <span class="collection-table__desc">By Dura</span>
              </div>
            </div>
          </td>
          <td>
            <span class="card__count">4,486</span>
          </td>
          <td>
            <span class="recent-viewed__percent">+ 09.78%</span>
          </td>
          <td>
            <span class="card__count">2,4</span>
          </td>
          <td>
            <span>2,2K</span>
          </td>
          <td>
            <span>900</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="collection-table__collection">
              <div class="collection-table__img">
                <img src="img/table-2.png" alt="" />
              </div>
              <div class="collection-table__text">
                <span class="collection-table__name">Michal Yu.</span>
                <span class="collection-table__desc">By Michal</span>
              </div>
            </div>
          </td>
          <td>
            <span class="card__count">9,124</span>
          </td>
          <td>
            <span class="recent-viewed__percent">+ 11.78%</span>
          </td>
          <td>
            <span class="card__count">3,5</span>
          </td>
          <td>
            <span>2.2K</span>
          </td>
          <td>
            <span>920</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="collection-table__collection">
              <div class="collection-table__img">
                <img src="img/table-4.png" alt="" />
              </div>
              <div class="collection-table__text">
                <span class="collection-table__name">Differy Da.</span>
                <span class="collection-table__desc">By Tom</span>
              </div>
            </div>
          </td>
          <td>
            <span class="card__count">3,657</span>
          </td>
          <td>
            <span class="recent-viewed__percent">+ 22.78%</span>
          </td>
          <td>
            <span class="card__count">2,4</span>
          </td>
          <td>
            <span>3.4K</span>
          </td>
          <td>
            <span>300</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="collection-table__collection">
              <div class="collection-table__img">
                <img src="img/table-5.png" alt="" />
              </div>
              <div class="collection-table__text">
                <span class="collection-table__name">Union Ca.</span>
                <span class="collection-table__desc">By Jerry</span>
              </div>
            </div>
          </td>
          <td>
            <span class="card__count">4,486</span>
          </td>
          <td>
            <span class="recent-viewed__percent">+ 27.78%</span>
          </td>
          <td>
            <span class="card__count">2,4</span>
          </td>
          <td>
            <span>2.2K</span>
          </td>
          <td>
            <span>800</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="collection-table__collection">
              <div class="collection-table__img">
                <img src="img/table-1.png" alt="" />
              </div>
              <div class="collection-table__text">
                <span class="collection-table__name">Duckly Dk.</span>
                <span class="collection-table__desc">By Duck</span>
              </div>
            </div>
          </td>
          <td>
            <span class="card__count">8,456</span>
          </td>
          <td>
            <span class="recent-viewed__percent">+ 15.78%</span>
          </td>
          <td>
            <span class="card__count">3,5</span>
          </td>
          <td>
            <span>3.4K</span>
          </td>
          <td>
            <span>500</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="collection-table__collection">
              <div class="collection-table__img">
                <img src="img/table-5.png" alt="" />
              </div>
              <div class="collection-table__text">
                <span class="collection-table__name">Union Ca.</span>
                <span class="collection-table__desc">By Jerry</span>
              </div>
            </div>
          </td>
          <td>
            <span class="card__count">4,486</span>
          </td>
          <td>
            <span class="recent-viewed__percent">+ 27.78%</span>
          </td>
          <td>
            <span class="card__count">2,4</span>
          </td>
          <td>
            <span>2.2K</span>
          </td>
          <td>
            <span>800</span>
          </td>
        </tr>
        <tr>
          <td>
            <div class="collection-table__collection">
              <div class="collection-table__img">
                <img src="img/table-1.png" alt="" />
              </div>
              <div class="collection-table__text">
                <span class="collection-table__name">Duckly Dk.</span>
                <span class="collection-table__desc">By Duck</span>
              </div>
            </div>
          </td>
          <td>
            <span class="card__count">8,456</span>
          </td>
          <td>
            <span class="recent-viewed__percent">+ 15.78%</span>
          </td>
          <td>
            <span class="card__count">3,5</span>
          </td>
          <td>
            <span>3.4K</span>
          </td>
          <td>
            <span>500</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
