<section class="wallet-section">
  <div class="wallet-section__left wallet-left">
    <a href="DiveSea/home.html" class="wallet-section__logo">
      <img src="img/logo.svg" alt="Logo">
    </a>
    <div class="wallet-left__container">
      <h2 class="wallet-left__title title">Choose Wallet</h2>
      <ul class="wallet-left__list list-reset">
        <li class="wallet-left__item">
          <button class="btn-reset wallet-left__btn wallet-left__btn--metamask"><span>Metamask</span></button>
        </li>
        <li class="wallet-left__item">
          <button class="btn-reset wallet-left__btn wallet-left__btn--trust"><span>Trust Wallet</span></button>
        </li>
        <li class="wallet-left__item">
          <button class="btn-reset wallet-left__btn wallet-left__btn--ethereum"><span>Enter ethereum address</span></button>
        </li>
      </ul>
      <a href="#" class="btn btn--fill btn-reset wallet-left__next">Next</a>
    </div>

    <div class="wallet-left__copy">
      <button class="wallet-left__privacy btn-reset">Privacy Policy</button>
      <p>Copyright 2022</p>
    </div>
  </div>
  <div class="wallet-section__right wallet-right">
    <div class="wallet-right__container">
      <div class="wallet-right__slider">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="img/slide-1.png" alt="">
          </div>
          <div class="swiper-slide">
            <img src="img/slide-2.png" alt="">
          </div>
          <div class="swiper-slide">
            <img src="img/slide-3.png" alt="">
          </div>
        </div>
      </div>
      <h2 class="wallet-right__title">Start Your Own NFT Gallery</h2>
      <p class="wallet-right__desc">CloseSea Is A Great Platform For Discover Largest NFTs And Other Stuff !!</p>
      <div class="wallet-right__control slider__controls">
        <button class="slider__controls-btn wallet-right-btn--prev btn-reset">&LeftArrow;</button>
        <button class="slider__controls-btn wallet-right-btn--next btn-reset">&RightArrow;</button>
      </div>
    </div>
    </div>

</section>
