<section class="weekly">
  <h2 class="weekly__title">Weekly - Top NFT</h2>
  <div class="weekly__slider">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="weekly__item card">
          <img src="img/weekly-1.png" class="card__img" alt="Sun-Glass" />
          <a href="/detail.html" class="card__title">Sun-Glass</a>
          <div class="card__content">
            <span class="card__text">
              <span class="card__desc">Current bid</span>
              <span class="card__count">1.75</span>
            </span>
            <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="weekly__item card">
          <img src="img/weekly-2.png" class="card__img" alt="Sun-Glass" />
          <a href="/detail.html" class="card__title">Sun-Glass</a>
          <div class="card__content">
            <span class="card__text">
              <span class="card__desc">Current bid</span>
              <span class="card__count">1.75</span>
            </span>
            <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="weekly__item card">
          <img src="img/weekly-3.png" class="card__img" alt="Sun-Glass" />
          <a href="/detail.html" class="card__title">Sun-Glass</a>
          <div class="card__content">
            <span class="card__text">
              <span class="card__desc">Current bid</span>
              <span class="card__count">1.75</span>
            </span>
            <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="weekly__item card">
          <img src="img/weekly-4.png" class="card__img" alt="Sun-Glass" />
          <a href="/detail.html" class="card__title">Sun-Glass</a>
          <div class="card__content">
            <span class="card__text">
              <span class="card__desc">Current bid</span>
              <span class="card__count">1.75</span>
            </span>
            <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="weekly__item card">
          <img src="img/weekly-5.png" class="card__img" alt="Sun-Glass" />
          <a href="/detail.html" class="card__title">Sun-Glass</a>
          <div class="card__content">
            <span class="card__text">
              <span class="card__desc">Current bid</span>
              <span class="card__count">1.75</span>
            </span>
            <a href="#" class="btn btn--fill btn-reset weekly-btn">Place bid</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slider__controls">
      <button class="slider__controls-btn weekly__controls-btn--prev btn-reset">
        &LeftArrow;
      </button>
      <button class="slider__controls-btn weekly__controls-btn--next btn-reset">
        &RightArrow;
      </button>
    </div>
  </div>
  <div class="weekly__recent recent-viewed">
    <h3 class="recent-viewed__title">Recent Viewed</h3>
    <ul class="recent-viewed__list list-reset">
      <li class="recent-viewed__item recent-viewed__item--second">
        <div class="recent-viewed__img">
          <img src="img/recent-1.png" alt="" />
        </div>
        <div class="recent-viewed__content">
          <div class="recent-viewed__row">
            <span class="recent-viewed__name">Alex Ca.</span>
            <span class="recent-viewed__count card__count">8,456</span>
          </div>
          <div class="recent-viewed__row">
            <span class="recent-viewed__pseudo">Alexy</span>
            <span class="recent-viewed__percent">+23,00%</span>
          </div>
        </div>
      </li>
      <li class="recent-viewed__item recent-viewed__item--second">
        <div class="recent-viewed__img">
          <img src="img/recent-2.png" alt="" />
        </div>
        <div class="recent-viewed__content">
          <div class="recent-viewed__row">
            <span class="recent-viewed__name">Alex Ca.</span>
            <span class="recent-viewed__count card__count">8,456</span>
          </div>
          <div class="recent-viewed__row">
            <span class="recent-viewed__pseudo">Alexy</span>
            <span class="recent-viewed__percent">+23,00%</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
